* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.mwg_effect000 {
  height: 95vh;
  overflow: hidden;
  position: relative;
  display: grid;
  place-items: center;
}
.mwg_effect001 {
  height: 2vh;
  display: grid;
  grid-template-columns: minmax(50px, 1fr) auto minmax(50px, 1fr);
  align-items: center;
  position: absolute;
  width: 100vw;
}

.mwg_effect001 .word1 {
  padding-left: 20px;
}

.mwg_effect000 .header {
  display: grid;
  grid-template-columns: minmax(120px, 1fr) auto minmax(120px, 1fr);
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #323232;
  padding: 20px 25px;
  color: #bab8b9;
  box-sizing: border-box;
}

.mwg_effect000 .header div:nth-child(2) {
  font-size: 26px;
  white-space: normal;
  word-break: break-word;
  text-align: center;
}

.mwg_effect000 .header div:last-child {
  display: flex;
  justify-content: flex-end;
}
.mwg_effect000 .button {
  font-size: 14px;
  text-transform: uppercase;

  border-radius: 24px;
  height: 48px;
  gap: 5px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  width: max-content;
}
.mwg_effect000 .button1 {
  background-color: #232323;
}
.mwg_effect000 .button2 {
  border: 1px solid #323232;
  text-decoration: none;
  color: #232323;
}

.mwg_effect000 .button img {
  width: 22px;
  height: auto;
  display: block;
}

.mwg_effect000 .medias {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(4, 1fr);
  gap: 1vw;
  padding: 10vh 0;
}
.mwg_effect000 .medias img {
  width: 10rem;
  height: 10rem;
  object-fit: contain;
  border-radius: 4%;
  display: flex;
  flex-wrap: wrap;
  pointer-events: none;
  will-change: transform;
}
.marquee-wrapper {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  background-color: #f9f9f9;
}

.marquee-text {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 8s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@media (max-width: 768px) {
  .mwg_effect000 .header {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 15px;
  }
  .mwg_effect000 .header div:nth-child(2) {
    display: none;
  }
}
